---
title: OSM Camp
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "osmcamp.svg" %>
  </div>
  <h1>OSM Camp</h1>
  <p class="doc">
    <%= link_to "Coming soon!", "#" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
